* {
    box-sizing: border-box;
}

/*
********************************************************************
********************************************************************
*****************       Header     *********************************
********************************************************************
********************************************************************
*/

header {
  width: 100%;

}

.flex-nav {
  display: flex;
  padding: 30px 0 0 0;

}

.navigation {
  width: 50%;

}

.navbarBrand {
  width: 50%;
  text-align: center;
}


/* slide animation pulled from https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition */
#slide {
  width: 100%;
  position: absolute;
  left: -2800px;
  -webkit-animation: slide 1.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 1.5s forwards;
  animation-delay: 1s;
  font-weight: 500;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


#slideBack {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: slide 1.5s;
  -webkit-animation-delay: 1s;
  animation: slide 1.5s;
  animation-delay: 1s;
  font-weight: 500;
  animation-name: slideBack;
}

@-webkit-keyframes slideBack {
    100% {
            left: -1000px;

         }
}

@keyframes slideBack {
    100% {
            left: -1000px;

         }
}





/* spin animation pulled from https://stackoverflow.com/questions/16771225/css3-rotate-animation */

#brand {
    border-radius: 50%;
    -webkit-animation:spin 4s linear;
    -moz-animation:spin 4s linear;
    animation:spin 4s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

ul#nav {
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 5px 0;
}



li a.responsiveLink {
  color: white;
}

a.responsiveLink:visited {
  color: violet;
}



#slideBackButton {
  color: lime;
  font-size: 20px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #523782;
}

#buttonPlacement {
  width: 100%;
  text-align: center;
  margin: 200px 0 0 0;
}

/*
********************************************************************
********************************************************************
*****************       Body     ***********************************
********************************************************************
********************************************************************
*/

body {

  font-family: 'Open Sans', sans-serif;
  border: 2px solid black;
  background-image: linear-gradient(165deg, #9400d3, violet);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2400px;


}



.wrapper {
  width: 100%;
  /* background-image: linear-gradient(165deg, #9400d3, #000000); */
  text-align: center;
}

.headline1 {
  padding: 30px 20px 0 20px;
  color: white;
  text-shadow: 3px 2px black;
  font-size: 30px;
}

.headline2 {
  padding: 30px 20px 0 20px;
  color: white;
  text-shadow: 3px 2px black;
  font-size: 20px;
}


/* slide animation pulled from https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition */
#aboutMe {
  width: 100%;
  position: absolute;
  left: -2800px;
  -webkit-animation: slide 1.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 1.5s forwards;
  animation-delay: 1s;
  font-weight: 500;
  animation-name: aboutMe;
}

@-webkit-keyframes aboutMe {
    100% { left: 0; }
}

@keyframes aboutMe {
    100% { left: 0; }
}


#aboutMeBack {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  -webkit-animation: slide 1.5s;
  -webkit-animation-delay: 1s;
  animation: slide 1.5s;
  animation-delay: 1s;
  font-weight: 500;
  animation-name: aboutMeBack;
}

@-webkit-keyframes aboutMeBack {
    100% {
            left: -1000px;

         }
}

@keyframes aboutMeBack {
    100% {
            left: -1000px;

         }
}


#bioH1 {
  color: white;
  text-shadow: 3px 5px black;
  margin-bottom: 20px;
  margin-top: 30px;
}

.bioP1 {
  color: white;
  font-weight: 200;
  text;shadow: 1px 2px black;
  text-align: left;
  margin: 15px;

}


#main-flex {


}

.card {
  margin: 50px auto;
  height: 200px;
  width: 200px;
  box-shadow: 2px 5px black;


}

#toTopButton {
  font-size: 20px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: #523782;
}

a#top {
  color: lime;
  list-style-type: none;
}




.project {
  padding-top: 50px;
  height: 300px;
  text-align: center;


}

/* img {
  height: 200px;
  width: 80%;
  box-shadow: 2px 5px black;

} */

h4 {

  padding: 30px;
}

h5 {
  padding: 0 30px;
}

p {
  padding: 0 30px;
}

#instruction {
  display: none;
}


.horizontal-flex-div {
  padding-bottom: 50px;
  text-align: center;
}


.rotating-box-huge {
  display: none;
}
